<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    注意：本配置中的路径都是指相对于此Exe(tableGUI.exe)的路径，并不是绝对路径
    因为策划没有客户端的工程权限，所以编译后的tml和代码默认保存在策划目录下，可以修改路径配置或使用拷贝功能
    -->

    <!--excel源文件路径-->
    <add key="srcExcelPath" value=".\..\Src\" />
    
    <!--excel编译后的tml保存路径-->
    <add key="GenTmlPath" value=".\..\client_setting\" />
    
    <!--excel生成的代码保存路径-->
    <add key="GenCodePath" value=".\..\client_code\" />
    
    
    
    <!--客户端项目读表代码路径-->
    <add key="dstClientCodePath" value=".\..\..\..\client\trunk\Project\Assets\Scripts\AppSettings\" />

    <!--客户端项目tml路径-->
    <add key="dstClientTmlPath" value=".\..\..\..\client\trunk\\Product\Config\" />

  </appSettings>
</configuration>