<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    注意：本配置中的路径都是指相对于此Exe(tableGUI.exe)的路径，并不是绝对路径
    -->

    <!--是否使用绝对路径; 0:所有路径是相对于此exe的; 1:所有路径都是绝对的(c:\xxx\abc.xlsx);-->
    <add key="UseAbsolutePath" value="0" />
    <!--excel源文件路径-->
    <add key="srcExcelPath" value=".\..\SettingSource\" />
    <!--是否把结果插入到sqlite ,1启用 0禁用-->
    <add key="EnableToSqlite" value="1" />
    <!--是否需要生成CSharp代码 ,1启用 0禁用-->
    <add key="EnableGenCSharp" value="1" />
    <add key="EnableGenLua" value="1" />
    <!--是否需要生成tsv文件 ,1启用 0禁用 ,注意：sql依赖于tsv-->
    <add key="EnableGenTsv" value="1" />
    
    <!--编译后的文件格式-->
    <add key="TmlExtensions" value=".tsv" />
    <!--excel编译后的 sql脚本 保存路径-->
    <add key="ExportSqlScriptsPath" value=".\..\sql\" />
    <!--excel编译后的sql database(data.db)保存路径-->
    <add key="ExportDBPath" value=".\..\sql\data.db" />
    <!--excel编译后的tsv保存路径-->
    <add key="ExportTsvPath" value=".\..\Setting\" />
    <!--excel生成的C#代码保存路径-->
    <add key="ExportCSharpPath" value=".\..\..\Assets\Code\AppSettings\" />
    <!--excel生成的lua代码保存路径-->
    <add key="ExportLuaPath" value=".\..\Lua\" />
    
    <!--文件拷贝功能    start-->
    <!--客户端读表代码路径-->
    <add key="dstClientCodePath" value=".\..\..\Assets\Code\AppSettings\" />
    <!--客户端项目tml路径-->
    <add key="dstClientTmlPath" value=".\..\Setting\" />
    <!--文件拷贝功能    end-->
    <!--帮助文档页面-->
    <add key="HelpUrl" value="https://github.com/zhaoqingqing/TableML/blob/custom/quick_start.md" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>